.btn-add-product {
    color: white;
    font-size: 18px;
    margin-left: 6px;
    &:hover {
        color: wheat;
    }
}

.product-desc {
    word-wrap: break-word;
    width: 500px;
}

.card-pemasukan-pengeluaran {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 150px;
    margin-right: 150px;
    padding: 20px;
}

.keuntungan {
    margin-top: 30px;
    margin-right: 20%;
    margin-left: 20%;
}

.pemasukan-pengeluaran {
    border: 1px;
    border-bottom-width: 2px;
}