.home-title {
  font-family: Jacques Francois;
  font-size: 30px;
}

.home-title {
  font-family: Jacques Francois;
  font-size: 30px;
}

header {
  color: #FFFFFF;
  padding: 200px 0px 150px;
  -webkit-box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  background-image: url("https://images.unsplash.com/photo-1501420896719-ad7fe0ee297e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
  background-size: cover;
}

header h1 {
  font-style: Montserrat;
  font-size: 80px;
  font-weight: 400;
}

header p {
  font-style: Montserrat;
  font-size: 36px;
  font-weight: 300;
}

header .btn-explore {
  display: inline-block;
  padding: .75rem 1.25rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: .15rem;
  -webkit-transition: all .3s;
  transition: all .3s;
  position: relative;
  border-color: #F3CDA9;
  overflow: hidden;
  z-index: 1;
}

header .btn-explore:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: -2;
}

header .btn-explore:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #F3CDA9;
  -webkit-transition: all .3s;
  transition: all .3s;
  z-index: -1;
}

header .btn-explore:hover {
  color: #572121;
}

header .btn-explore:hover:before {
  width: 100%;
}

.section-stats {
  margin-top: -50px;
}

.section-stats .stats-detail {
  background-color: #C8B687;
  padding-top: 15px;
  padding-left: 54px;
}

.section-stats h2,
.section-stats p {
  font-family: 'Assistant', sans-serif;
  color: #071C4D;
}

.section-stats h2 {
  font-family: Montserrat;
  color: #6A0918;
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 0;
}

.section-stats p {
  font-weight: 300;
  font-size: 20px;
  color: #360B12;
}

@media screen and (max-width: 990PX) {
  .section-stats .stats-detail {
    padding-left: 15px;
  }
}

.best-selling-product-title {
  color: #625230;
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 700;
}

.section-best-selling-product .product-card img {
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.section-best-selling-product .product-card .card-title {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 20px;
  color: #786255;
}

.section-best-selling-product .product-card .bi-star-fill {
  color: #FFC107;
}

.section-best-selling-product .product-card .card-text {
  color: #625230;
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 400;
  color: #625230;
}

.section-best-selling-product .product-card ul {
  margin-top: -18px;
}

.section-best-selling-product .product-card ul li {
  color: #625230;
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 400;
  color: #625230;
}

.logout-modal .modal-content {
  background-color: #c8b68798;
}

.logout-modal .btn {
  width: 100px;
  border-radius: 20px;
}

.login-modal .modal-content {
  border-radius: 20px;
  background-color: #c8b68798;
  color: #4e030e;
}

.login-modal .btn {
  width: 230px;
  border-radius: 20px;
}

.login-modal .btn-primary {
  background-color: #625230;
  font-family: Montserrat;
  font-weight: 700;
  text-transform: uppercase;
  color: #E5E5E5;
  border-color: transparent;
}

.login-modal .btn-primary:hover {
  background-color: #756440;
}

.login-modal .btn-link {
  color: #4e030e;
}

.login-button {
  width: 100px;
  color: #572121;
  font-weight: 600;
  background-color: #C8B687;
  border-color: transparent;
}

.login-button:hover {
  color: #572121;
  background-color: #dbcca4;
  border-color: transparent;
}

.register-button {
  width: 100px;
  background-color: transparent;
  border-color: #534629;
  font-weight: 500;
  display: inline-block;
  color: #572121;
  -webkit-transition: all .3s;
  transition: all .3s;
  position: relative;
  border-color: #572121;
  overflow: hidden;
  z-index: 1;
}

.register-button:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: -2;
}

.register-button:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #572121;
  -webkit-transition: all .3s;
  transition: all .3s;
  z-index: -1;
}

.register-button:hover {
  color: #fff;
  border-color: transparent;
}

.register-button:hover:before {
  width: 100%;
}

.company-profile .logo-mid {
  margin-top: -290px;
  margin-bottom: 290px;
}

.company-profile .brown-section {
  padding-left: 0px;
  padding-right: 0px;
  background-color: #625230;
  height: 260px;
}

.company-profile .brown-section .right-section {
  margin-left: -40px;
  height: 260px;
}

.company-profile .brown-section .right-section h3 {
  font-size: 18px;
}

.company-profile .brown-section .right-section p {
  font-size: 11px;
  text-align: justify;
}

.company-profile .brown-section .left-section {
  margin-right: 0px;
}

.company-profile .top-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.company-profile .top-content .left-content {
  padding: 25px;
}

.company-profile .top-content .left-content h3 {
  margin-top: 50px;
  padding-left: 15px;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 25px;
  color: #6A0918;
}

.company-profile .top-content .left-content p {
  padding-left: 15px;
  text-align: justify;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 13px;
  color: #6A0918;
}

.company-profile .top-content .left-content .img-profile {
  background-image: url("../images/mg-profile.png");
  background-size: cover;
  height: 250px;
}

.company-profile .top-content .right-content {
  background-image: url("../images/img-2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 250px;
  width: 510px;
}

.company-profile .bot-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.company-profile .bot-content .left-content {
  background-color: #C8B687;
  height: 250px;
}

.company-profile .bot-content .left-content h3 {
  margin-top: 70px;
  padding-left: 15px;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 35px;
  color: #6A0918;
}

.company-profile .bot-content .left-content p {
  padding-left: 15px;
  text-align: justify;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 13px;
  color: #6A0918;
}

.company-profile .bot-content .left-content h2 {
  background-color: #918358;
  font-size: 25px;
  font-family: Montserrat;
  font-weight: 600;
  font-style: italic;
  color: white;
  padding: 10px;
  border-radius: 10px;
}

.company-profile .bot-content .left-content .img-profile {
  background-image: url("../images/mg-profile.png");
  background-size: cover;
  height: 250px;
}

.company-profile .bot-content .right-content {
  padding: 50px;
  height: 250px;
}

.company-profile .bot-content .right-content h3 {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 28px;
  color: #6A0918;
}

.company-profile .bot-content .right-content .platform {
  margin-left: 30px;
}

.product-details .card {
  background-color: #e4e3d9;
  max-width: 860px;
}

.product-details .card .card-content h4 {
  background-color: #D4D3B3;
  font-size: 25px;
  font-family: Montserrat;
  font-weight: 600;
  color: #6A0918;
  padding: 10px;
  border-radius: 10px;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.product-details .card .card-content p {
  font-size: 18px;
  font-family: Montserrat;
  color: #625230;
}
/*# sourceMappingURL=main.css.map */